<services>
  <summary>Download .NET packages from NuGet</summary>
  <description>
    This service reads a .NET Core .csproj file and downloads the referenced
    packages into an archive.
  </description>
  <parameter name="archive">
    <description>
      The name of the source code archive to scan for package references.
      This will be automatically determined if not provided.
    </description>
  </parameter>
  <parameter name="compression">
    <description>
      Specify the compression method for the generated tarball.
      Valid options:
        "none" (output .tar),
        "gz" (output .tar.gz),
        "zst" (output .tar.zst)
      Default: "gz".
    </description>
  </parameter>
  <parameter name="output">
    <description>
      The base name of the output file, to be combined with the extension
      derived from `compression`.  Default: "packages".
    </description>
  </parameter>
</services>
